#start-page {
  height: 95vh;
}

.article-preview {
  height: 720px;
  width: 598px;
  object-fit: cover;
}

.swiper-slide {
  height: 250px;
  display: flex;
  align-items:center;
  justify-content: center;
}

.slide-img {
  height: 800px; 
  width: 100%; 
  object-fit: cover;
}

.article-slide-info {
  position: absolute;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  text-align: center;
  align-items: center;
}
