<div class="flex justify-center">
  <div class="w-2/5">
    <div class="flex items-center">
      <hr class="w-16 h-1 my-8 mr-5 border-0 rounded custom-orange-dash">
      <p class="custom-orange uppercase text-sm font-bold tracking-widest">Explore the nature beauty</p>
    </div>

    <div>
      <p class="text-6xl font-bold mb-2">Discover</p>
      <p class="text-5xl">Wonderful Indonesia</p>
    </div>
  </div>
</div>
